<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="src/vendor/tailwind/tailwind.css">
    
    <title>ComputerBuilder</title>
</head>
<body>
    <div id="app" v-bind:class="{'h-screen': user.length == 0}"> 
        <div id="" class="bg-gradient-to-r from-light-pink to-light-green text-gray-800 w-screen relative flex flex-col items-center p-5 pt-10 border-4 md:h-full" >
            <div class="md:w-1/3 p-4">
                <h1 class="text-4xl font-serif shadow-1 text-center text-semi-dark-blue">Computer Builder</h1>
            </div>
                
            <computer-select-component
                v-on:complete-event="completeEvent"
            ></computer-select-component>

            <!-- resultDisplayArea -->
            <div v-for="pc in user" v-bind:key="pc.id">
                <result-component
                    v-bind:pc="pc"
                >
                </result-component>
            </div>
        </div>
    </div>



    <!-- Result -->
    <script type="text/x-template" id="resultComponent">
        <div class="w-full p-5">
            <div class="bg-gradient-to-r from-light-green to-light-pink px-10 pt-3 pb-5 rounded shadow-lg">
                <div class="flex justify-center pb-5 p-3">
                    <table class="w-full table-fixed">
                        <thead class="w-full flex flex-col md:flex-row">
                            <th class="md:w-1/5 text-3xl font-serif text-center text-dark-blue">PC {{ id }}</th>
                            <div class="w-full">
                                <th class="md:w-2/5 text-3xl">Gaming -> {{ benchmark.gamingScore }}%</th>
                                <th class="md:w-2/5 text-3xl">Working -> {{ benchmark.workingScore }}%</th>
                            </div>
                        </thead>
                        <div></div>
                        <div></div>
                    </table>
                </div>
                <table class="w-full table-fixed">
                    <thead class="bg-semi-light-blue text-white rounded">
                        <tr>
                            <th class="w-1/4 py-3 pl-3 text-left">Type</th>
                            <th class="w-1/4 py-3 pl-3 text-left">Brand</th>
                            <th class="w-2/4 py-3 pl-3 text-left">Model</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="text-left py-3 pl-3 border-b-2 border-semi-light-blue">{{ cpu.Type }}</th>
                            <th class="text-left py-3 pl-3 border-b-2 border-semi-light-blue">{{ cpu.Brand }}</th>
                            <th class="text-left py-3 pl-3 border-b-2 border-semi-light-blue">{{ cpu.Model }}</th>
                        </tr>
                        <tr>
                            <th class="text-left py-3 pl-3 border-b-2 border-semi-light-blue">{{ gpu.Type }}</th>
                            <th class="text-left py-3 pl-3 border-b-2 border-semi-light-blue">{{ gpu.Brand }}</th>
                            <th class="text-left py-3 pl-3 border-b-2 border-semi-light-blue">{{ gpu.Model }}</th>
                        </tr>
                        <tr>
                            <th class="text-left py-3 pl-3 border-b-2 border-semi-light-blue">{{ ram.Type }}</th>
                            <th class="text-left py-3 pl-3 border-b-2 border-semi-light-blue">{{ ram.Brand }}</th>
                            <th class="text-left py-3 pl-3 border-b-2 border-semi-light-blue">{{ ram.Model }}</th>
                        </tr>
                        <tr>
                            <th class="text-left py-3 pl-3 border-b-2 border-semi-light-blue">{{ storage.Type }}</th>
                            <th class="text-left py-3 pl-3 border-b-2 border-semi-light-blue">{{ storage.Brand }}</th>
                            <th class="text-left py-3 pl-3 border-b-2 border-semi-light-blue">{{ storage.Model }}</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </script>



    <!-- AddButton -->
    <script type="text/x-template" id="addButtonComponent">
        <div class="px-3 py-5">
            <div class="">
                <button v-on:click="$emit('create-pc')" v-if="hasDone" class="bg-white hover:bg-gray-100 hover:shadow-none  text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow-lg">性能を見てみる</button>
                <!-- disableButton -->
                <button v-if="!hasDone" class="bg-white   text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow-lg cursor-not-allowed">性能を見てみる</button>
            </div>
        </div>
    </script>


    <!-- Storage -->
    <script type="text/x-template" id="storageComponent">
        <div>
            <div class="p-3 flex">
                <p>step 4 : ストレージを決めてください</p>
                <div class="flex h-2 w-2" v-show="selectedModel == '' ">
                    <span class="animate-ping absolute inline-flex h-2 w-2 rounded-full bg-pink-400 opacity-75"></span>
                    <span class="relative inline-flex rounded-full h-2 w-2 bg-pink-500"></span>
                </div>
            </div>
            <div class="md:flex p-3 ">
                <div class="flex">
                    <h4>HDD or SSD:</h4>
                    <select class="ml-5 rounded" v-on:change="setStorageCapacity" v-model="selectedType">
                        <option disabled selected> - </option>
                        <option v-for="type in storageType">{{ type }}</option>
                    </select>
                </div>
                <div class="flex pt-3 md:py-0 md:pl-20">
                    <h4>Storage:</h4>
                    <select class="ml-5 rounded" v-on:change="setBrand" v-model="selectedCapacity">
                        <option disabled selected> - </option>
                        <option v-for="capacity in capacityArr">{{ capacity }}</option>
                    </select>
                </div>
                <div class="flex pt-3 md:py-0 md:pl-20">
                    <h4>Brand: </h4>
                    <select class="ml-5 rounded" v-on:change="setModel" v-model="selectedBrand">
                        <option disabled selected> - </option>
                        <option v-for="brand in brandArr">{{ brand }}</option>
                    </select>
                </div>
                <div class="flex pt-3 md:py-0 md:pl-20">
                    <h4>Model:</h4>
                    <select class="ml-5 rounded w-full" v-on:change="selectedEvent" v-model="selectedModel">
                        <option disabled selected> - </option>
                        <option v-for="model in modelArr">{{ model }}</option>
                    </select>
                </div>
            </div>
        </div>
    </script>



    <!-- Ram -->
    <script type="text/x-template" id="ramComponent">
            <div class="">
                <div class="p-3 flex">
                    <p>step 3 : メモリーカードの数量と種類を決めてください</p>
                    <div class="flex h-2 w-2" v-show="selectedModel == '' ">
                        <span class="animate-ping absolute inline-flex h-2 w-2 rounded-full bg-pink-400 opacity-75"></span>
                        <span class="relative inline-flex rounded-full h-2 w-2 bg-pink-500"></span>
                    </div>
                </div>
                <div class="md:flex p-3 ">
                    <div class="flex ">
                        <h4>数量:</h4>
                        <select class="ml-5 rounded" v-on:change="setBrands" v-model="selectedNum">
                            <option disabled selected value=""> - </option>
                            <option v-for="num in numArr">{{ num }}</option>
                        </select>
                    </div>
                    <div class="flex pt-3 md:py-0 md:pl-20">
                        <h4>Brand: </h4>
                        <select class="ml-5 rounded" v-on:change="setModel" v-model="selectedBrand">
                            <option disabled selected value=""> - </option>
                            <option v-for="brand in brandArr">{{ brand }}</option>
                        </select>
                    </div>
                    <div class="flex pt-3 md:py-0 md:pl-20">
                        <h4>Model:</h4>
                        <select class="ml-5 rounded w-full" v-on:change="selectedEvent" v-model="selectedModel">
                            <option disabled selected > - </option>
                            <option v-for="model in modelArr">{{ model }}</option>
                        </select>
                    </div>
                </div>
            </div>
    </script>

    <!-- Gpu -->
    <script type="text/x-template" id="gpuComponent">
        <div class="">
            <div class="p-3 flex">
                <p>step 2 : GPUを選んでください</p>
                <div class="flex h-2 w-2" v-show="selectedModel == '' ">
                    <span class="animate-ping absolute inline-flex h-2 w-2 rounded-full bg-pink-400 opacity-75"></span>
                    <span class="relative inline-flex rounded-full h-2 w-2 bg-pink-500"></span>
                </div>
            </div>
            <div class="md:flex p-3 ">
                <div class="flex">
                    <h4>Brand: </h4>
                    <select class="ml-5 rounded" v-on:change="setModel" v-model="selectedBrand">
                        <option disabled selected value=""> - </option>
                        <option v-for="brand in brandArr">{{ brand }}</option>
                    </select>
                </div>
                <div class="flex pt-3 md:py-0 md:pl-20">
                    <h4>Model:</h4>
                    <select class="ml-5 rounded w-full" v-on:change="selectedEvent" v-model="selectedModel">
                        <option disabled selected value=""> - </option>
                        <option v-for="model in modelArr">{{ model }}</option>
                    </select>
                </div>
            </div>
        </div>
    </script>

    <!-- Cpu -->
    <script type="text/x-template" id="cpuComponent">
        <!-- 1 -->
        <div class="">
            <div class="p-3 flex">
                <p>step 1 : CPUを選んでください</p>
                <div class="flex h-2 w-2" v-show="selectedModel == '' ">
                    <span class="animate-ping absolute inline-flex h-2 w-2 rounded-full bg-pink-400 opacity-75"></span>
                    <span class="relative inline-flex rounded-full h-2 w-2 bg-pink-500"></span>
                </div>
            </div>
            
            <div class="md:flex p-3 ">
                <div class="flex ">
                    <h4>Brand: </h4>
                    <select class="ml-5 rounded" v-on:change="setModel" v-model="selectedBrand">
                        <option disabled selected value=""> - </option>
                        <option v-for="brand in cpuBrandArr">{{ brand }}</option>
                    </select>
                </div>
                <div class="flex pt-3 md:py-0 md:pl-20 ">
                    <h4>Model:</h4>
                    <select class="ml-5 rounded" v-on:change="selectedEvent" v-model="selectedModel">
                        <option disabled selected value=""> - </option>
                        <option v-for="model in cpuModelArr">{{ model }}</option>
                    </select>
                </div>
            </div>
        </div>
    </script>


    <!-- ComputerComponent -->
    <script type="text/x-template" id="computerSelectComponent">
        <div class="w-full p-5 flex flex-col justify-start">
            <!-- 1 -->
            <cpu-component
                v-on:selected-event="selectedEvent"
                v-on:un-selected-event="unSelectedEvent"
            ></cpu-component>

            <!-- 2 -->
            <gpu-component
                v-on:selected-event="selectedEvent"
                v-on:un-selected-event="unSelectedEvent"
            ></gpu-component>

            <!-- 3 -->
            <ram-component
                v-on:selected-event="selectedEvent"
                v-on:un-selected-event="unSelectedEvent"
            ></ram-component>

            <!-- 4 -->
            <storage-component
                v-on:selected-event="selectedEvent"
                v-on:un-selected-event="unSelectedEvent"
            ></storage-component>

            <!-- addButton -->
            <add-button-component
                v-bind:done="hasDone"
                v-on:create-pc="createPc"
            ></add-button-component>
        </div>
    </script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="src/main.js"></script>

</body>
</html>

